/* global.css */

/* 自定义 alert 样式 */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9); /* 半透明的黑色背景 */
    color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffff;
    z-index: 1000;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 10px #00ffff;
  }
  
  .custom-alert p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .custom-alert button {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(
      135deg,
      rgba(0, 128, 255, 0.8),
      rgba(0, 255, 128, 0.8)
    );
    color: #000; /* 改为黑色 */
    border: 2px solid #00ffff;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px #00ffff;
  }

  
  .custom-alert button:hover {
    background: linear-gradient(
      135deg,
      rgba(0, 255, 128, 0.8),
      rgba(0, 128, 255, 0.8)
    );
    box-shadow: 0 0 15px #00ffff;
  }
  
  .thinking {
    font-style: italic;
    color: #888;
  }

  #task-bar {
    position: fixed;
    top: 20px;
    right: 120px;
    background-color: rgba(30, 30, 30, 0.8);
    color: #ffff00;
    padding: 8px 15px;
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

#task-bar:hover {
    background-color: rgba(40, 40, 40, 0.9);
}

/* vote style */
.voting-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 150, 199, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.5);
  z-index: 1000;
  font-family: 'Arial', sans-serif;
  text-align: center;
  min-width: 300px;
}

.voting-dialog p {
  margin-bottom: 20px;
  font-size: 18px;
}

.voting-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.voting-options button {
  background-color: rgba(0, 100, 150, 0.8);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.voting-options button:hover {
  background-color: rgba(0, 150, 200, 0.8);
}